<p id="notice"><%= notice %></p>

<p>
  <strong>Image data:</strong>
  <%= image_tag @gif.image_url %>
</p>

<p>
  <strong>User:</strong>
  <%= @gif.user.name %>
</p>


<% if user_signed_in? && current_user == @gif.user %>
  <%= link_to 'Edit', edit_gif_path(@gif) %> |
<% end %>
<%= link_to 'Back', gifs_path %>
